html {
  height: 100%;
  width: 100%;
}
body {
	background-color: #9231a5;
	color: #84acd7;
	
}
h1 {
	color: #ffffff;
	text-align: center;
	background-color: #18219a;
}

li {
	font-size: 30px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #18219a;
}

li {
	float: left;
}

li a {
	display: block;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
	color: white;
}